@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/symbols/sym-6/sym597.cur), auto !important;} /* End http://www.cursors-4u.com */*{
	margin:0;
	padding:0;
}

/* ALGUNAS DEFINICIONES GENÉRICAS */

body{
	font-family: 'Special Elite', cursive;
	background:#FFFFFD
	color:#FFFE00 ;
}

h1, h2, h3, h4{
	font-weight:500;
}

h1{
	font-size:3rem;
	letter-spacing:0.1em;
	color:#414141;
	text-align:center;
	font-family: 'Fredoka One', cursive; /* borrar dps ! si quiero una fuente solo para un header voy al header específico*/
}

h2{
	font-size:2rem;
	letter-spacing:0.1em;
	color:#BABABA;
	text-align:center;
}

h3{
	font-size:1.5rem;
	letter-spacing:0.1em;
	color: #414141;
	text-align:center;
	padding:1rem 0;
}
h4{font-size:3rem;
letter-spacing:0.5em;
color:#414141;

padding:1rem 0;}
h5{
	color: #8B8B8B;
	text-decoration:none;
}

a{
	color:#BABABA;
	text-decoration:none;
}

p{
	color: #BABABA;
}

a:hover{
	color:#FFE000;
	text-decoration:
}

/* COMENZAMOS CON LAS PARTES */

#contenido{width:98%; margin:1%;}


header{
	width:98%;
	top:36%;
	position: absolute;
	text-align:center;
	z-index:9;
	color:#BABABA;
}

video{
	width:100%;
	height:auto;
}

#somos{
	width:100%;
	background:#FFFFFD;
	margin-bottom:2%;
	}

.dupla{
	width:46%;
	padding:2%;
	float:left;
	background-color:#FFFFFD;
	}

.primera{
	min-height:300px;
	text-align:left;
	background-color:#FFFFFD;
	background-image:url('media/prueba2cat.png'); /* aquí ponemos nuestras fotos*/
	background-position:top right;
	background-repeat:no-repeat;
	background-size:auto 100%;
}
.primera h4{padding: 2% 40% 1% 2%;}

.primera h5{padding: 1% 40% 2% 2%; margin-bottom:5em; letter-spacing:0.1em;}

.primera p{padding: 2% 40% 2% 2%;}

.primera address{padding: 2% 40% 2% 2%; font-size:0.9em; font-style:normal;}

.segunda{
	min-height:300px;
	text-align:right;
	background-color:#FFFFFD;
	background-image:url('media/prueba2abril.png'); /* aquí ponemos nuestras fotos*/
	background-position:top left;
	background-repeat:no-repeat;
	background-size:auto 100%;
}

.segunda h4{padding: 2% 2% 1% 40%;}

.segunda h5{padding: 1% 2% 2% 40%; margin-bottom:5em; letter-spacing:0.1em;}

.segunda p{padding: 2% 2% 2% 40%;}

.segunda address{padding: 2% 2% 2% 40%; font-size:0.9em; font-style:normal;}

#somos hr{
	clear:both;
	border:none;
	}

#portafolio{
	width:100%;
	padding-bottom:1%;
	background:linear-gradient(to bottom,#FFFFFD, #eaeaea,#FFFFFD);
}

.item {
	width:23%;
	margin:1%;
	color:#7B7B7B; /*color fuente de las casillas,ahora es amarillo*/
	background:linear-gradient(to bottom,#FFFFFD);
	box-shadow:0 0 8px #BABABA /*original era negro*/
}

.item:hover{
	cursor:crosshair;
}

.item figure{
	overflow:hidden;
}

.item figure img{
	width:100%;
	height:auto;
	margin-bottom:-4px;
;
}

.item:hover figure img{
	transform:scale(1.2);
filter: blur( 1mm );
transition:all ease-out 1s;
filter: brightness(0.6);
}

.item h4{
	font-size:1em;
	letter-spacing:0.025em;
	margin:5% 5% 3% 5%;
}

.item p{
	font-size:0.875em;
	letter-spacing:0.05em;
	margin:2% 5% 6% 5%;
}

footer{
	width:100%;
	padding:3em 0 1em 0;
	text-align:center;
}

footer p{
	text-transform:full-width;
	letter-spacing:0.1em;
	font-size:0.9em;
	color: #BABABA
	}

/* AJUSTES PARA QUE SE VEA BIEN EN DISTINTOS DISPOSITIVOS */

@media screen and (orientation: portrait){

	.dupla{
		width:96%;
		padding:2%;
		float:left;
	}

}

@media screen and (max-width: 992px){

	header{top:24%;}

}

@media screen and (max-width: 768px){

	header{top:12%;}
	h1{top:12%;
		font-size:2rem;}

	h2{
	font-size:1rem;
	}

	.item{
		width:48%;
		margin:1%;
		background:#FFFFFD;
		color:#BABABA;
	}
	h1{top:12%;
		font-size:2rem;}

	h2{
	font-size:1rem;}

  h3{	font-size:1rem}

	h4{font-size:2rem}
	.item p{font-size:0.75rem}

	.primera h4{padding: 2% 40% 1% 2%;}

	.primera h5{padding: 1% 40% 2% 2%; margin-bottom:5em; letter-spacing:0.1em;}

	.primera p{padding: 2% 40% 2% 2%;}

	.primera address{padding: 2% 40% 2% 2%; font-size:0.9em; font-style:normal;}

	.segunda{
		min-height:300px;
		text-align:right;
		background-color:#FFFFFD;
		background-position:top left;
		background-repeat:no-repeat;
		background-size:auto 100%;
	}

	.segunda h4{padding: 2% 2% 1% 40%;}

	.segunda h5{padding: 1% 2% 2% 40%; margin-bottom:5em; letter-spacing:0.1em;}

	.segunda p{padding: 2% 2% 2% 40%;}

	.segunda address{padding: 2% 2% 2% 40%; font-size:0.9em; font-style:normal;}
	}

@media screen and (max-width: 576px){

	header{top:2%;}

	.item{
		width:96%;
		margin:2%;
		background:#FFFFFD;
		color:#BABABA;
	}

}
